* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter',sans-serif;
}
.wrapper{
    width:95%;
    max-width: 710px;
    border:2px solid black;
    margin: auto;
    margin-top:10px;
}
header{
    /* border:2px solid red; */
    background-color: #F55A5A;
    padding:20px;
    color: white;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}
.world-icon{
    width:20px;
    height:auto;
}
.title{
    /* font-weight: bold; */
    margin-left: 7px;;
    font-size: 0.9rem;
}

.card{
    border:2px solid blue;
    width:100%;
    overflow: hidden;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:80%;
    margin: auto;
    margin-top: 25px;
}
.img-container{
    overflow: hidden;
}
.location-img{
    margin: auto;
    width: 100%;
    height:auto;
}
.text-section{
    width: 100%;
    border:2px solid cyan;

}


@media (min-width:425px){
    .card{
        width:60%;
    }
}
@media (min-width:570px){
    .card{
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }
    .img-container{
        width:40%;
    }
}
@media (min-width:640px){
    .wrapper{
        width:80%;
    }
}
@media (min-width:880px){
    .wrapper{
        width:70%;
    }
}
